body{
    background-color: #303030;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}
#container{
    width: 100%;
}
.header{
    width:100%;
    padding: 40px 0;
}
.logo{
    font-size: 48px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
}
